// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin temaPrincipal {
  @include valo;

  // Insert your own theme rules here
  
  .temaPrincipal .background {
		background-image: url("C:\Users\Fran\Desktop\WORKSPACES\MDS2eclipse\instagual\src\main\webapp\VAADIN\themes\temaPrincipal\ual.png");  
}
  
  .temaPrincipal .miButton {
	height: 28px;
	padding: 0 13px;
	
	
	font-size: 8px;
	
	border-radius: 4px;
}

  .temaPrincipal .miButton2 {
	height: 28px;
	padding: 0 13px;

	
	font-size: 10px;
	
	border-radius: 4px;
}

.temaPrincipal .textoDanger {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0;
	font: inherit;
	
	font-weight: 400;
	color: red;
	line-height: normal;
	height: 28px;
	border-radius: 4px;
	padding: 3px 7px;
	
	
	-webkit-transition: box-shadow 180ms, border 180ms;
	-moz-transition: box-shadow 180ms, border 180ms;
	transition: box-shadow 180ms, border 180ms;
	font-size: 16px;
}

.temaPrincipal .textoSmall {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0;
	font: inherit;
	
	font-weight: 400;
	line-height: normal;
	height: 28px;
	border-radius: 4px;
	padding: 3px 7px;
	
	
	-webkit-transition: box-shadow 180ms, border 180ms;
	-moz-transition: box-shadow 180ms, border 180ms;
	transition: box-shadow 180ms, border 180ms;
	font-size: 16px;
}

.buttonMenu {
  background: transparent no-repeat;
  border: none;
}

.imagenClick {
  cursor: pointer;
}

.temaPrincipal {
     //default margins for all layouts with margin enabled
    .v-margin-left   {padding-left:   15px;}
    .v-margin-right  {padding-right:  15px;}
    .v-margin-top    {padding-top:    10px;}
    .v-margin-bottom {padding-bottom: 10px;}

    //custom margins for layouts with specific css set and margin enabled
    .custom-margins{
        .v-margin-left   {padding-left:   250px;}
        .v-margin-right  {padding-right:  250px;}
        .v-margin-top    {padding-top:    100px;}
        .v-margin-bottom {padding-bottom: 300px;}
    }
}

.temaPrincipal .v-textarea-propia {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0;
	font: inherit;
	
	font-weight: 400;
	line-height: normal;
	height: 37px;
	border-radius: 4px;
	padding: 6px;
	border: 1px solid #c5c5c5;
	background: white;
	color: #474747;
	-webkit-box-shadow: inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-transition: box-shadow 180ms, border 180ms;
	-moz-transition: box-shadow 180ms, border 180ms;
	transition: box-shadow 180ms, border 180ms;
	height: auto;
	resize: none;
	white-space: pre-wrap;
	width: 185px;
}

.imgRedonda {
    border-radius:160px;
    border:2px solid #0091B8;
}

.conBordes {
    border: solid;
    border:1px solid #0091B8;
}

.conBordes2 {
    border-bottom:1px solid #0091B8;
}
}
